body {
  font-family: 'Montserrat', sans-serif;
  background-color: #191b1f;
  background: ;
  color: white;
}

/* Header */

.menu-container img{
  margin-top: 20px;
  margin-left: 20px;
}
header nav {
  position: fixed;
  background: black;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
}
.menu-container{
  display: flex;
  flex-direction: row;
}
.menu-navigation {
  display: flex;
  list-style-type: none;
  padding-bottom: 10px;
}

#nav-class{
  padding-top: 30px;
}

header nav ul.menu-navigation li a {
  padding: 0 16px;
  color: white;
  font-size: 14px;
}

a:visited {
  color: white;
}

a:active {
  text-decoration:none;
}

.menu-container a:hover{
  color:#d5c8bb ;
}

a:link{
    text-decoration:none;
    color:white;
}

/* Main container */

/*Container-1*/

.container-1{
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}

.main-post-pic{
  margin-right: 10px;
}
.title{
  display: flex;
  justify-content: center;
  margin-top: 200px;
}

.latest-post{
  text-align: justify;
  margin-left: 40px;
  margin-right: 200px;
}
.latest-post-img{
  height: 550px;
  width: 750px;
  margin-top: 20px;
}

.post{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;  
}

.latest-post p,.latest-post h2{
  margin-top: 30px;
}

.latest-post p{
  width:500px;
  word-wrap: break-word;
}
.latest-post h1{
  text-decoration: underline;
}

.read-more{
  background:white;
  color:black;
  padding:20px;
  cursor: pointer;
  border: none;
  font-family: 'Montserrat', sans-serif;
  border-radius: 4px;
}

.read-more:focus{
  outline: none;
}
.read-more:hover{
  background:#d5c8bb;
}

/*Main-posts*/

.main-posts-container{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin-top: 150px;
  margin-bottom: 80px;
}

.main-posts-container img{
  height:350px;
  width:400px;
  image-orientation: from-image;
}

.post-intro-1,.post-intro-2,.post-intro-3{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/*Bottom-Container*/

.bottom-container{
  display: flex;
  flex-direction: row;
  margin-top: 70px;
}


/*Container-3*/

.container-3{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 140px;
  padding-right: 60px;
  margin-bottom: 650px;
}


/*Blog Posts */

.blog-posts{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
}
.blog-posts img{
  height:350px;
  width:400px;
}

.post-1,.post-2,.post-3{
  display: flex;
  justify-content: center;
  margin-left: 150px;
  border-bottom: 1px solid #E3E3E3;
}


.blog-post{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #E3E3E3;
  border-radius: 10px;
  padding-right: 200px;
  padding-left: 200px;
  padding-bottom: 50px;
  padding-top: 50px;
  margin-top: 50px;
  margin-left: 100px;
  margin-right: 100px;
}


.blog-pic{
  float: left;
  padding: 50px;
}

.more:hover{
  color:#d5c8bb;
  cursor: pointer;
}
#date{
  font-size: 12px;
}

/*Mailchimp Newsletter*/

#mce-EMAIL{
  padding: 10px;
  margin-top: 10px;
}
#mc_embed_signup .button{  
  background-color: white;
  border: 0 none;
  border-radius: 4px;
  transition: all 0.23s ease-in-out 0s;
  color: black;
  cursor: pointer;
  display: inline-block;
  font-size: 15px;
  height: 32px;
  text-align: center;
  text-decoration: none;
}
  #mc_embed_signup .button:hover{
    background-color: #d5c8bb;
  }

  #mc_embed_signup{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
.newsletter{
  position: fixed;
  display: none;
  z-index: 1100;
  background: black;
  top:0;
  left:0;
  height:100%;
  width:100%;
}

.newsletter.show{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 300px;
}

.newsletter-close{
  background: none;
	color: inherit;
	border: none;
	padding: 0;
	cursor: pointer;
  outline: inherit;
  font-size: 20px;
}



#nav-class > ul > li:nth-child(4) > a{
  border: 2px solid white;
  border-radius: 18px;
  padding:7px;
}


/*Top-blog-articles*/

.top-blog-articles{
  border-bottom: 2px solid #d5c8bb ;
}

.top-blog-article-1{
  display: flex;
  flex-direction: row;
}
.top-blog-article-1 p{
  margin-left: 15px;
}

/*Footer and Social*/

footer{
  background: black;
  margin-top: 100px;

}

.footer{
  display: flex;
  flex-direction: column;
  width:100%;
  color:white;
  font-size: 15px;
}

.footer-navigation{
  display: flex;
  justify-content: center;
}

.footer-navigation a:hover{
  color:#d5c8bb;
}
.footer ul li {
  list-style-type: none;
  padding: 10px;
}

/*Rights*/

.rights{
  padding-top: 10px;
  text-align: center;
  color:white;
  font-size: 12px;
}
