body {
  font-family:'Montserrat', sans-serif;
  background-color:#eaebeb;
  color: black;
  margin: 0;
  padding: 0;
}
html,body{
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow: auto;
}

/* Header */

header nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
}

.menu-navigation {
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style-type: none;
  padding-bottom: 10px;
}

.menu-container{
  background: black;
  color:white;
  padding-bottom: 10px;
}

#nav-class{
  padding-top: 30px;
}

#nav-class a:hover{
  color:#d5c8bb ;
}
#nav-class > ul > li:nth-child(7) > a{
  border: 2px solid white;
  border-radius: 18px;
  padding:7px;
}

#nav-class > ul > li:nth-child(7) > a:hover{
  background-color: white;
  color:black;
}

header nav ul.menu-navigation li a {
  padding: 0 16px;
  font-size: 16px;
}

a:active {
  text-decoration:none;
}


a:link{
    text-decoration:none;
    color:white;
}

/* Main container */

/*Container-1*/

.container-1{
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}


.title{
  display: flex;
  justify-content: center;
  margin-top: 150px;
  font-family: 'Amatic SC', cursive;
  font-size: 30px;
}

.latest-post{
  text-align: justify;
  margin-left: 40px;
  margin-right: 130px;
}
.latest-post-img{
  height: 650px;
  width: 980px;
  margin-top: 20px;
}

.post{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;  
}

.latest-post p,.latest-post h2{
  margin-top: 30px;
}

.latest-post p{
  width:500px;
  word-wrap: break-word;
}
.latest-post h1{
  text-decoration: underline;
}

.read-more{
  background:white;
  color:black;
  padding:20px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}

.read-more:focus{
  outline: none;
}
.read-more:hover{
  background:#d5c8bb;
}

/*Main-posts*/

.main-posts-container{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 80px;
  width:100%;
}

.main-posts-container img{
  height:350px;
  width:400px;
  image-orientation: from-image;
}

.post-intro-1,.post-intro-2,.post-intro-3{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/*Bottom-Container*/

.bottom-container{
  display: flex;
  flex-direction: row;
  margin-top: 70px;
}


/*Container-3*/

.container-3{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 140px;
  padding-right: 60px;
  margin-bottom: 650px;
}


/*Blog Posts */

.blog-posts{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
}
.blog-posts img{
  height:350px;
  width:400px;
}

.post-1,.post-2,.post-3{
  display: flex;
  justify-content: center;
  margin-left: 150px;
  border-bottom: 1px solid black;
}



.blog-pic{
  float: left;
  padding: 50px 50px 50px 0;
}

.more:hover{
  color:#d5c8bb;
  cursor: pointer;
}
#date{
  font-size: 12px;
}

/*Mailchimp Newsletter*/

input#mce-EMAIL{
  border-radius: 4px;
  padding: 20px;
  width:200px;
}

#mc_embed_signup .button{ 
  border: 0 none;
  border-radius: 4px;
  color: white;
  color: black;
  cursor: pointer;
  display: inline-block;
  font-size: 15px;
  height: 59px;
  width:135px;
  text-align: center;
  text-decoration: none;
  margin-left: 15px;
}


  #mc_embed_signup{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:80%;
    vertical-align: center;
    color:white;
  }
  #mc_embed_signup h3{
    margin-left: 20px;
  }
  
.newsletter{
  position: fixed;
  display: none;
  z-index: 1100;
  background: black;
  top:0;
  left:0;
  height:100%;
  width:100%;
}

.newsletter.show{
  display: block;
}

.newsletter-close{
  background: none;
	border: none;
	padding: 0;
  cursor: pointer;
  color:white;
  outline: inherit;
  font-size: 22px;
  margin-left: 20px;
  margin-top: 20px;
}



/*Footer and Social*/

footer{
  background: black;
  margin-top: 100px;
 }

.footer{
  display: flex;
  flex-direction: column;
  width:100%;
  color:white;
  font-size: 15px;
}



.footer-navigation a:hover{
  color:#d5c8bb;
}

.footer ul li {
  list-style-type: none;
  padding: 10px;
}

/* Social media */ 

.footer-navigation-social a:hover{
  color:#d5c8bb;
}
.footer-navigation,.footer-navigation-social{
  display: flex;
  justify-content: center;
}
.footer-social > ul > li{
  list-style-type: none;
  padding: 10px;
  font-size: 20px;
}

/*Rights*/

.rights{
  padding-top: 10px;
  text-align: center;
  color:white;
  font-size: 12px;
}

.rights p{
  padding-bottom: 15px;
  margin: 0;
}

/*Media queries*/

@media (max-width: 575.98px) { 

  header nav{
    display: none;
  }
  .title{
    margin-top: 80px;
  }
  .title h1{
    font-size: 25px;
  }

  .container-2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .post{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
  .latest-post{
    margin-right: 0px;
    margin-left: 0px;
    font-size: 12px;
  }
  .latest-post h2{
    font-size: 15px;
  }
  .latest-post-img{
    height: 270px;
    width: 320px;
    margin-top: 20px;

  }
  
.container-2 > div > div.post-3 > a > img{
    align-items: center;
    align-self: center;
  }


.post-1,.post-2,.post-3{
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 12px;
}

.main-posts-container{
  margin-top: 50px;
}

  .main-posts-container img{
    height:280px;
    width:350px;
    image-orientation: from-image;
  }


  .latest-post p{
    width:100%;
    word-wrap: break-word;
  }

  .bottom-container{
    margin-top: 20px;
  }


/*Footer and Social*/

footer{
  margin-top: 10px;
 border: 1px solid red;
 }

.footer{
 display: none;
}

.footer-navigation a:hover{
  color:#d5c8bb;
}

.footer-navigation-social a:hover{
  color:#d5c8bb;
}
.footer-social ul li {
  list-style-type: none;
  padding: 10px;
  font-size: 15px;
}

.rights{
  font-size: 10px;
}

 }

/* Small devices (landscape phones, less than 768px)*/
@media (max-width: 767.98px) { 


// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) { ... }

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) { ... }
